*{
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
}
:root{
--red:#e84949;
}

#wrapper{
height: 100vh;
overflow-x: hidden;
overflow-y: auto;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.nav-left-content{
    margin-left: -1.2rem;
    font-size: 28px;
}
.nav-right-content{
    gap: 100px;
}
.nav-right-content a{
    text-decoration: none;
    color: black;
    padding: 20px;
}
.nav-left{
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: center;
}
.nav-left img{
    width: 80px;
}
.nav-right-content a:hover{
    cursor: pointer;
    font-weight: bold;
    transition: all o.8s;
}
.hero-sec-left{
    display: flex;
    flex-direction: column;
    gap: 5rem;
    justify-content: center;
    padding-top: 2rem;
}
.hero-section{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
      /* gap: -5rem; 
     
    padding: 0 1rem;
    padding-bottom: 8rem;  */
}
.heading{
    font-size: 35px;
    font-weight: 500;
    color: #343d68;
}
.role{
    color: #4e45d5;
}
.sub-heading{
    font-size: 45px;
    line-height: 45px;
}
.description{
    margin-top: 1rem;
    width: 70%;
    font-weight: 500;
}

.btn{
    background-color: #e84949;
    text-align: center;
    color: white;
   padding: 0.8rem 2.3rem;
   font-size: 18px;
   box-shadow: 5px 5px 7px 0px #0000003f;
    position: relative;
    z-index: 1;
    cursor: pointer;
    /* border-radius: 15px; */
    width: 150px !important;
   
}
.btn::before{
    content: "";
    background-color: rgb(80, 184, 189);
    position: absolute;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 1s;
    z-index: -1;
    cursor: pointer;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /* border-radius: 15px; */
    filter: brightness(0.5);
    width: 150px;
}

.btn:hover::before{
    transform: scaleX(1);
    filter: brightness(1.5);
}
.hero-sec-right{
    position: relative;
    margin-top: -30rem;
    padding-left: -19rem;
    padding-right: 10rem;
}
.absolute{
    position: absolute;
}
.user-image{
    padding: .5rem;
    filter: grayscale(1);
    transition: all 3s;
    animation: shivam 5s linear infinite;
}
@keyframes shivam {
        0%{
            filter:grayscale(1);
            transform:scale(1);
        }
        50%{
            filter:grayscale(1);
            transform:scale(1.1);
            box-shadow: 3px 3px 10px black; 
        }
        100%{
            filter:grayscale(0);
            transform:scale(0.9);
        }
    }
    .user-image img{
        z-index: -9;
    }
.icon-dots{
    z-index: 3;
    bottom: -20rem;
    right: -10rem;
    animation-name: icondot;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes icondot {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-15px);
    }
    100%{
        transform: translateY(0);
    }
}
.icon-cube{
    z-index: 4;
    top: 1rem;
    right: -9em;
    animation-name: iconcube;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes iconcube {
    0%{
        transform: rotateY(0deg) translateY(0);
    }
    50%{
        transform: rotateY(180deg) translateY(-12px);
    }
    100%{
        transform: rotateY(360deg) translate(0px);
    }
}
.icon-circle{
    z-index: 4;
    top: 1rem;
    right: 7em;
    animation-name: iconcube;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes iconcube {
    0%{
        transform: rotateY(0deg) translateY(0);
    }
    50%{
        transform: rotateY(180deg) translateY(-12px);
    }
    100%{
        transform: rotateY(360deg) translate(0px);
    }
}
.icon-zigzag{
        z-index: 4;
        bottom: -20rem;
        right: 7em;
        animation-name: zigzag;
        animation-duration: 5s;
        animation-iteration-count: infinite;
    }
    @keyframes zigzag {
        
        50%{
            left: 5%;
            top: 2%;
        }
    }
    .icon-plus{
        z-index: 4;
        top: 1rem;
        right: -1em;
        animation-name: iconcube;
        animation-duration: 5s;
        animation-iteration-count: infinite;
    }
    @keyframes iconcube {
        0%{
            transform: rotateY(0deg) translateY(0);
        }
        50%{
            transform: rotateY(180deg) translateY(-12px);
        }
        100%{
            transform: rotateY(360deg) translate(0px);
        }
    }
 .faded{
    user-select: none;
    font-size: 5em;
    color: rgb(231, 231, 231);
    bottom: -1%;
    left: -5%;
    font-weight: bold;
    transition: all 3s;
} 
.elments{
    gap: 5rem;
    
}
.project-section{
    background-color: rgb(231, 231, 231);
    margin-top: 4rem;
}
.header{
    color: var(--red);
    text-align: center;
    font-size: 90px;
    padding-top: 30px;
}
.project-container{
    display:flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem 0;
    gap: 120px;
}
.project-card{
    width: 90%;
    height: 550px;
    background-image: url(images/projects/Project2.png);
    background-size: cover;
    position: relative;
    box-shadow: 0 0 40px #1f1f1f;
}
.btn{
    border: none;
}
.project-card::after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #1f1f1f9a;
    transform: scaleX(1);
    z-index: 0;
}
.project-card::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(45deg,#343d68 #343d68be #343d687c);
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.4s;
    z-index: 1;
}
.project-card:hover::before{
    transform: scaleX(1); 
}
.project-number{
    font-size: 200px;
    color: white;
    font-weight: 600;
    position:absolute;
    z-index: 10;
    opacity: 0;
}
.project-card:hover{
    opacity: 1;
}
.projecct-number-right{
    right: -40px;
    top: -45px;
}
.projecct-number-left{
    left: -40px;
    top: -45px;
}
.project-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 2em;
    bottom: 20%;
    z-index: 5;
    gap: 1em;
    transition: all 0.4s;
}
.project-content-left{
left: 10%;
}
.project-content-right{
right: 10%;
}

.project-skills-container{
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    gap: 10px;
}
.project-skill{
    width: 40px;
}
.card-heading{
    font-size: 50px;
    font-weight: bold;
    line-height: 3rem;
}
.card-description{
    width: 70%;
    font-size: 16px;
    font-style: italic;
   }
.project-card:hover .project-content{
    transform: scaleX(1.1);
}
#project1{
    background-image: url(images/projects/Project1.png);
}
#project2{
    margin-left: 120px;
    background-image: url(images/projects/Project2.png);
}
#project3{
    background-image: url(images/projects/Project3.png);
}
#project4{
    margin-left: 120px;
    background-image: url(images/projects/Project4.png);
}
.skill-fade{

}
.skills-container{
    position: relative;
    display: flex;
    padding: 5rem;
    margin: 10rem auto;
    gap: 30px;
    width: 1200px;
}
.skill-cont-left{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.skin-cont-right{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,1fr);
    flex-wrap: wrap;
    width: 50%;
    position: relative;
    gap: -1rem;
    /* justify-content: center; */
}
.skill-fade{
    color: rgb(231, 231, 231);
    /* overflow-x: hidden; */
    bottom: -34.5%;
    right: -15%;
    user-select: none;
    font-size: 15em;
    font-style: bold; 
    position: absolute;
}
.blob{
    animation: blob 3s linear  infinite;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: -5;
}
@keyframes blob {
    50%{
        top: 54%;
        left: 56%;
    }
}
.skills-logo{
    width: 90px;
    transition: all 0.5px;
}
.skills-logo:hover{
    transform: scale(1.1);
    transition: 0.4s;
}
.skill-heading{
    font-size: 50px;
    font-style: bold;
    line-height: 50px;
    color: #e84949;;
}
.caps{
    font-size: 90px;
    color: #e84949;;
}
.skill-subheading{
    margin-top: 1rem;
    width: 85%;
    text-align: justify;

}
.skill-subheading p{
    margin: 25px 0;
}
.contactus-form-containeer{
    width: 100%;
    background-color: rgb(231, 231, 231);   
}
.contact-us{
    font-size: 5em;
    color: #e84949;
    padding-top: 2rem;
}
.contact-us-subheading{
    font-size: 3rem;
    color: #343d68aa;
}
.contact-form{
    margin-top: 25px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 70%;
    margin: 2rem 5rem;
}
.form-field-container{
    width: 100%;
}
.formfield{
    width: 100%;
    height: 42px;
    padding: 0 2rem;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #1f1f1f;
    font-weight: 500;
    border: none;
    margin: 17px;
}
.email{
    height: auto;
    padding-top: 1rem;
}
#submit-btn{
    /* width: 200px; */
    border: none;
    font-size: 0.6rem;
    margin: 1rem 0;
}
#submit-btn:hover{
    scale: 0.9;
}
footer{
    position: relative;
    margin-top: -1px;
    background-color: #343d68;
    padding: 5rem;
    z-index: 1;
}
.footer-wrapper{
    display: flex;
    gap: 1rem;
    padding: 1.2rem;
    justify-content: space-between;
    align-items: center;

}
.footer-faded-text{
    position: absolute;
    left: 0;
    user-select: none;
    font-size: 5em;
    bottom: 0;
    color: #535c87;
}
.link-wrapper{
    display: flex;
    gap: 1.2rem;
}
.link-wrapper div a{
    text-decoration: none;
    color: white;
    transition: all o.6s;
}
.link-wrapper div a:hover{
    color: #e84949;
}
.icon-wrapper{
    gap: 1rem;
    display: flex;
    z-index: 4;
}